

.nav-container{
    height: 80px;
    align-items: center;
    background-color:white;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 900;
}
.logocontainer{
    margin-right: 20px;
    margin-left: 50px;

}
.logo{
    display: flex;
    flex: 3;
    position: relative;
    left: 10px;
}
 .logo img{
    height: 37px;
    width: 80px;
    margin-top: 15px;
    margin-right: 10px;
}
.logo h5{
    white-space: nowrap;
    font-size: large;
    margin-top: 30px;
}
.logo h5 span{
    color: red;
    
}
.hamburger{
    top: 10px;
    font-size: large;
    padding: 15px;
    border: none;
    background-color: inherit;
    display: none;
    right: 10px;
    position: absolute;
}
.center-navlinks{
    display: flex;
    flex: 3;
}

.center-navlinks button{
    margin-right: 20px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: large;
}
.left-navlinks{
    display: flex;
    flex: 6;
}

.left-navlinks input{
    width: 100%;
    padding: 15px;
    font-size: large;
    border: 1px solid black;
    border-radius: 10px;
}
.left-navlinks .search{
    margin-right: 30px;
    background-color: inherit;
    border: none;
    font-size: large;
    cursor: pointer;
}
@media screen and (max-width: 900px ) {
    .nav-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .center-navlinks{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        transition: all 0.5s ease;
    }
    .logocontainer{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .center-navlinks button{
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.555);
        text-align: center;
        padding: 20px 0;

    
    }
    
    .left-navlinks{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.555);
        padding-top: 20px;
        padding-left: 30px;
         transition: all 0.5s ease;

    }
    .hamburger{
        display: block;
    }
   
}